- content_for :javascripts do
  = javascript_include_tag "leaflet_lib"
  
  :javascript
    $("#geolocate").on("click", function(e){
      LeafletLib.geolocate(function(position){
        $("#flowers_address").val( position.coords.latitude + "," + position.coords.longitude );
      });
    });

%h4 Share your daisy with us

= simple_form_for(:flowers, :html => { :class => 'form' }) do |f|
  = f.input :name, :label => "Name your daisy", :placeholder => 'Gerbera L.',:required => false

  = f.input :address, :label => "Where did you plant it?", :required => false, :wrapper => :append do
    = f.input_field :address, :placeholder => '123 N State St.'
    %a#geolocate.btn.btn-info{ :href => "#" } 
      Find Me
    
  = f.button :submit, :value => 'Share', :class => 'btn btn-primary'
