- content_for :javascripts do

  :javascript

    LeafletLib.initialize(
      $("#detail-map")[0],
      {
        markers: [
          [ #{@flower.latitude}, #{@flower.longitude} ]
        ]
      },
      [ #{@flower.latitude}, #{@flower.longitude} ],
      15
    );
    

.row
  .span8

    %h1
      = @flower.name
      %small
        = "##{@flower.tag}"

    %ul.thumbnails
      - @instagram_photos.each do |photo|
        %li.span4
          .thumbnail
            %img{:alt => photo.caption.nil? ? '' : photo.caption.text, :src => photo.images.low_resolution.url }
            - if photo.created_time != nil
              %p.text-center
                = Time.at( photo.created_time.to_i ).strftime "%B %-d, %Y"

    .alert.alert-info
      Take a photo of this flower on Instagram and tag it with 
      %strong
        = "##{@flower.tag}"
      and it will show up here!


  .span4
    .well
      #detail-map

      %h4
        = @flower.address
      %p
        = @flower.created_at.strftime "%B %-d, %Y"
