- content_for :javascripts do

  :javascript

    LeafletLib.initialize(
      $("#detail-map")[0],
      { },
      [ #{@flower.latitude}, #{@flower.longitude} ],
      15
    );
    
    var flowerIcon = L.icon({
      iconUrl: "/assets/little.png",
      iconSize: [ 32, 33 ],
      shadowUrl: "/assets/square-shadow.png",
      shadowSize: [ 40, 26 ],
      shadowAnchor: [ 10, 5 ],
      popupAnchor: [ 0, -10 ]
    });

    var pt = new L.LatLng( #{@flower.latitude}, #{@flower.longitude} );
    var marker = new L.Marker( pt, { icon: flowerIcon, clickable: false } ).addTo(LeafletLib.map);

.row
  .span8

    %h1
      = @flower.name
    %hr

    .alert.alert-error
      Take a photo of this flower on Instagram and tag it with 
      %strong
        = "##{@flower.tag}"
      and it will show up here!

    %h4 Instagram photos
    .thumbnails
      - @flower.instagram_photos.each_with_index do |photo, index|
        .span4
          .thumbnail
            %img{:alt => photo.caption.nil? ? '' : photo.caption.text, :title => photo.caption.nil? ? '' : photo.caption.text, :src => photo.images.low_resolution.url }
            - if photo.created_time != nil
              %p.text-center
                = photo.caption.text
                %br
                = Time.at( photo.created_time.to_i ).strftime "%B %-d, %Y"
        - if index % 2 == 1
          .clearfix



  .span4
    .well
      #detail-map

      %dl.dl-horizontal
        %dt
          Instagram tag
        %dd
          = "##{@flower.tag}"
        %dt
          Planted on
        %dd
          = @flower.created_at.strftime "%B %-d, %Y"